<% if session[:flash] %>
<div class='alert alert-danger alert-dismissible'>
  <strong><%= session[:flash] %></strong>
  <a href='#' class='close' data-dismiss='alert' aria-label='close'>
    <i class='fa fa-times-circle-o'></i>
  </a>
</div>
<% session[:flash] = nil %>
<% end %>

<h2>
  You are in <%= @room.description %>
</h2>
<hr />

<div class='row'>

  <% if @room.items.count > 0 %>
    <div class='col-md-4' id='items'>
      <h3>You can see</h3>

      <ul>
        <% @room.items.each do |item| %>
          <li>
            <%= item %>
            <button id='<%= item %>'
                    class='btn btn-primary'
                    onclick='take("<%= item %>")'>
              pick up
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if explorer.items.count > 0 %>
    <div class='col-md-4' id='explorer'>
      <h3>You are carrying</h3>

      <ul>
        <% explorer.items.each do |item| %>
          <li>
            <%= item %>
            <button id='<%= item %>'
                    class='btn btn-primary'
                    onclick='drop("<%= item %>")'>
              drop
            </button>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-md-4' id='exits'>
    <h3>Exits are</h3>

    <ul>
      <% @room.exits.each do |x| %>
        <li>
          <button id='<%= points x %>'
                  class='btn btn-primary'
                  onclick='travel("<%= x %>")'>
            <%= points x %>
          </button>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<script>
function travel(direction) {
  $.ajax({
    url: '<%= request.path %>',
    data: JSON.stringify({ direction: direction }),
    type: 'POST',
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data)
    }
  })
}

function take(item) {
  $.ajax({
    url: '<%= request.path %>',
    data: JSON.stringify({ take: item }),
    type: 'POST',
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data)
    }
  })
}

function drop(item) {
  $.ajax({
    url: '<%= request.path %>',
    data: JSON.stringify({ drop: item }),
    type: 'POST',
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data)
    }
  })
}
</script>
