<% if session[:flash] %>
<div class='alert alert-danger alert-dismissible'>
  <strong><%= session[:flash] %></strong>
  <a href='#' class='close' data-dismiss='alert' aria-label='close'>
    <i class='fa fa-times-circle-o'></i>
  </a>
</div>
<% session[:flash] = nil %>
<% end %>

<h2>
  You are in <%= @room.description %>
</h2>
<hr />

<div class='row'>

  <%= erb :'includes/exits' %>
  <%= erb :'includes/room-items' %>
  <%= erb :'includes/carrying' %>

</div>

<script>
function travel(direction) {
  $.ajax({
    url: '<%= request.path %>',
    data: JSON.stringify({ direction: direction }),
    type: 'POST',
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data)
    }
  })
}

function take(item) {
  $.ajax({
    url: '<%= request.path %>',
    data: JSON.stringify({ take: item }),
    type: 'POST',
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data)
    }
  })
}

function drop(item) {
  $.ajax({
    url: '<%= request.path %>',
    data: JSON.stringify({ drop: item }),
    type: 'POST',
    contentType: 'application/json',
    success: function(data) {
      window.location.replace(data)
    }
  })
}
</script>
