<% if session[:flash] %>
<div class='alert alert-danger alert-dismissible'>
  <strong><%= session[:flash] %></strong>
  <a href='#' class='close' data-dismiss='alert' aria-label='close'>
    <i class='fa fa-times-circle-o'></i>
  </a>
</div>
<% session[:flash] = nil %>
<% end %>

<h2>
  You are in <%= @room.description %>
</h2>
<hr />

<div class='row'>

  <div class='col-md-4'>
    <%= erb :'includes/exits' %>
  </div>

  <div class='col-md-4'>
    <%= erb :'includes/room-items' %>
  </div>

  <div class='col-md-4'>
    <%= erb :'includes/carrying' %>
  </div>
</div>
